* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
  }
  header {
    width: 100%;
    position: fixed;
    color: white;
    background-color: black;
    top: 0;
  }
  .name {
    font-size: 30px;
  }
  .nav {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .nav ul {
    display: flex;
    gap: 50px;
  }
  .nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .nav ul li {
    list-style: none;
  }
  
  .nav ul li a:hover {
    border-bottom: 3px solid #ED661F;
    transition: 0.2s ease;
  }
  .active a {
    border-bottom: 2px solid #ED661F;
  } 
  .call-action {
    align-items: center;
    display: flex;
    gap: 50px;
  }
  
  .call-action a {
    font-size: inherit;
    color: white;
    text-decoration: none;
    
  }
  
  .call-action a:hover {
    border-bottom: 2px solid #ED661F;
    transition: 0.2s ease;
  }
  
  .call-action button {
    border-radius: 4px;
    border: none;
    height: 50px;
    width: 137px;
    background-color: #ED661F;
  }
  
  .call-action button.started:hover {
    color: #FFFFFF;
    background-color: black;
    border: 3px solid #ED661F;
    transition: 0.1s ease;
  }
  
  
  .buying-section {
    width: 100vw;
    height: auto;
    margin-top: 100px;
  }
  .selling {
    width: 100%;
    height: 90vh;
    background-color: black;
    background-image: url(../images/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .selling-right, .selling-left {
      width: 100vh;
      height: 100vh;
  }
  
  .selling-right {
    align-items: center;
      display: flex;
      justify-content: center;
  }
  
  .selling-right img {
    height: auto;
      width: 100%;
  }
  
  .selling-left {
    align-items: center;
      display: flex;
      justify-content: center;
      /* gap: 30px; */
  }
  
  .selling-inner-left {
      width: 70%;
      display: flex;
      flex-direction: column;
      /* gap: 30px; */
  }
  
  .selling-inner-left p {
      font-size: 18px;
  }
  .selling-inner-left h1 {
      font-size: 42px;
      font-weight: 900;
  }
  
  .explore-more {
    height: 50px;
      width: 150px;
      margin-top: 30px;
      color: white;
      border: none;
      border-radius: 5px;
      background-color: #ED661F;
      font-weight: 900;
      font-size: 18px;
  }
  
  button.explore-more:hover {
      background-color: black;
  }
  
  .selling-bottom {
    background-color: white;
    display: flex;
    justify-content: center;
      width: 100%;
      height: auto;
  }
  
  .selling-bottom-container {
    height: 130px;
      width: 45%;
      background-color: white;
      margin-top: -60px;
      margin-bottom: 100px;
      margin-right: -150px;
      padding: 0 50px 0 50px;
      box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
  }
  .why-exist {
    height: auto;
      width: 100%;
      margin: 0 0 100px 0;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .why-left {
    display: flex;
    justify-content: center;
    height: auto;
      width: 100%;
  
  }
  
  .why-container {
      width: 70%;
  }
  
  .why-container h2 {
      font-size: 30px;
      margin-bottom: 20px;
  }
  
  .why-container p {
    line-height: 35px;
      font-size: 18px;
  }
  
  .why-container .horizontal-rule {
    height: 3px;
      width: 20%;
      border: none;
      background-color: #ED661F;
  }
  
  .why-right {
    height: auto;
      width: 100%;
  }
  
  .why-right img {
    height: auto;
      width: 70%;
  }
  .categories{
    height: auto;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
  }
 
  .product-categories {
    width: 100%;
    height: auto;
      padding-top: 20px;
      text-align: center;
  }
 
  h2.product-categories {
    font-size: 30px;
      text-align: center;
      text-transform: capitalize;
  }
 
  p.product-categories {
    text-align: center;
    font-size: 18px;
  }
 
  .most-popular {
    width: 90%;
    height: auto;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
  }
  .first-column{
      width: 100%;
      height: auto;
  }
  .first-column h2{
      font-size: 23px;
      font-weight: 700;
  }
  .first-column h2 hr{
      width: 7%;
      height: 3px;
      border: none;
      background-color: #ED661F;
  }
 
  .image{
      display: grid;
      grid-template-rows: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
      gap: 30px;
 
  }
 
  .image-card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 0 30px 0;
      align-items: center;
  }
 
  .image-card p{
    margin: 5px 0 5px 0;
      font-size: 14px;
      text-align: left;
  }
 
  .image-card img{
      width: 220px;
      height: auto;
      margin-bottom: 15px;
      border-radius: 4px;
  }
 .image-card p, h5, h6{
   text-align: left;
 }
 
 .see .see-all{
   height: auto;
     width: 100%;
     display: flex;
     justify-content:flex-end;
     flex-direction: row;
     align-items: flex-end;
     font-size: 18px;
     margin-right: 3%;
     font-weight: 600;
 }
 .see-all i{
   margin-left: 10px;
 }
 
 .see hr{
   width: 3%;
   height: 3px;
   border: none;
   background-color: #ED661F;
   float:right;
   margin-right: 70px;
   margin-bottom: 50px;
 }
 
 .lower-hr{
   height: 2vh;
   width: 100%;
   background-color: #D3D3D3;
   margin-bottom: 0;
 }
 .reviews{
    width: 100%;
    height: auto;
    padding: 10px 0 50px 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.reviews-container{
    padding-top: 30px;
    width: 90%;
    height: auto;
}

.reviews-inner{
  margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.reviews-cont-h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.reviews-card{
    width: 275px;
    height: 200px;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

}

.active-star{
    color: #ED661F;
}
.inactive-star{
  color:#e6e6e6;
}
blockquote{
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}
.customer-name{
  font-weight: 600;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.profile img{
    width: 50px;
    height: auto;
}
.test-p{
    font-size: 18px;
    font-weight: 700;
    float: right;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span i{
    color: #ED661F;
}
.footer{
    background-color: white;
    width: 100%;
    height: 70vh;
}
.keep-in-touch{
  height: 40vh;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    gap: 30px;
}
.keep-in-touch h2{
  color: white;
    font-size: 30px;
}
.keep-in-touch p{
  color: white;
    font-size: 16px;
}
.form-input{
  height: 40px;
    width: 350px;
    text-align: center;
    border: none;
    border-radius: 3px;
}
.btn-submit{
    width: 150px;
    height: 40px;
    background-color: #ED661F;
    color: white;
    border: none;
}

.bottom-footer{
    width: 100%;
    /* height: 50vh; */
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer-bottom .brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    color: white;
}

.brand .icons{
    margin: 20px 0 20px 0;
}
.company{
    flex-grow: 2;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top:-80px;;

}
.company h2{
    font-size: 22px;
}
.company ul{
    margin-top: 10px;
    list-style: none;
}
.company ul li{
    padding: 5px;
}
.copy{
  padding: 30px 0 30px 0;
  font-weight: 400;
    background-color: black;
    color: white;
    text-align: center;
}
.brand{
  padding-left: 100px;
  margin-top:60px;
}
.app-store{
  width: 100px;
  color: black;
  padding-top: 0;
  margin: 0 10px 0 0;
}
.logo-images{
  display: flex;
  flex-direction: row;
}
 